{{ 'Collection2.css' | asset_url | stylesheet_tag }}

<section class="collection collection2">
  <div class="container">
    <h2 class="featured-product-title">{{ section.settings.collection_section_title }}</h2>
    <div class="row gy-3 mx-auto justify-content-center flex-xxl-wrap">
      {%- for product in section.settings.collection.products limit: section.settings.total_products_to_show -%}
        <div class="col-6 {{ section.settings.xxl_columns }} {{ section.settings.xl_columns }} {{ section.settings.lg_columns }} {{ section.settings.md_columns }} {{ section.settings.sm_columns }} {{ section.settings.xs_columns }}">
          <div class="collection2__collection-item">
            {% assign opacity_single_collection = section.settings.opacity_single_collection | divided_by: 100.00 %}
            <div class="collection2__product-img" style="background-color: {{ section.settings.single_collection_bg | color_modify: 'alpha', opacity_single_collection }};">
              <div class="collection2__heart"><i class="bi bi-heart"></i></div>
              <a href="{{ product.url }}">
                {%- if product.images[0] != blank -%}
                  <img
                    srcset="{%- if product.images[0].width >= 165 -%}{{ product.images[0] | img_url: '165x' }} 165w,{%- endif -%}
                    {%- if product.images[0].width >= 360 -%}{{ product.images[0] | img_url: 'master' }} 360w,{%- endif -%}
                    {%- if product.images[0].width >= 535 -%}{{ product.images[0] | img_url: 'master' }} 535w,{%- endif -%}
                    {%- if product.images[0].width >= 750 -%}{{ product.images[0] | img_url: 'master' }} 750w,{%- endif -%}
                    {%- if product.images[0].width >= 2000 -%}{{ product.images[0] | img_url: 'master' }} 2000w,{%- endif -%}
                    {%- if product.images[0].width >= 2040 -%}{{ product.images[0] | img_url: '2040x' }} 2040w,{%- endif -%}"
                    src="{{ product.images[0] | img_url: 'master' }}"
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                    alt="{{ product.images[0].alt | escape }}" 
                    loading="lazy" 
                    width="{{ product.images[0].width }}"
                    class="rounded mx-auto d-block"
                    style="max-width: 70%;"
                  >
                {%- else -%}
                  {{ 'product-2' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </a>
            </div>
            <div class="collection2__product-info">
              <div class="collection2__product-details">
                {%- if section.settings.show_product_name == true -%}
                  <span class="collection2__product-title">
                    {{ product.title }}
                  </span>
                {%- endif -%}

                {%- if section.settings.show_product_price == true -%}
                  <span class="collection2__product-price">
                    {{ product.price | money }}
                  </span>
                {%- endif -%}
                </div>
              <div class="collection2__product-colors">
                <div class="collection2__color collection2__color--blue"></div>
                <div class="collection2__color collection2__color--black"></div>
              </div>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collection group two",
  "settings": [
    {
      "type": "text",
      "id": "collection_section_title",
      "label": "Collection section title",
      "default": "Popular Designs"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Featured Collection"
    },
    {
      "type": "range",
      "id": "total_products_to_show",
      "min": 1,
      "max": 16,
      "step": 1,
      "label": "Total products to show",
      "default": 4
    },
    {
      "type": "select",
      "id": "xxl_columns",
      "label": "XXL Devices",
      "options": [
        {
          "value": "col-xxl-6",
          "label": "2 Columns"
        },
        {
          "value": "col-xxl-4",
          "label": "3 Columns"
        },
        {
          "value": "col-xxl-3",
          "label": "4 Columns"
        },
        {
          "value": "col-xxl-2",
          "label": "6 Columns"
        }
      ],
      "default": "col-xxl-3"
    },
    {
      "type": "select",
      "id": "xl_columns",
      "label": "Xtra Large Devices",
      "options": [
        {
          "value": "col-xl-6",
          "label": "2 Columns"
        },
        {
          "value": "col-xl-4",
          "label": "3 Columns"
        },
        {
          "value": "col-xl-3",
          "label": "4 Columns"
        },
        {
          "value": "col-xl-2",
          "label": "6 Columns"
        }
      ],
      "default": "col-xl-3"
    },
    {
      "type": "select",
      "id": "lg_columns",
      "label": "Large Devices",
      "options": [
        {
          "value": "col-lg-6",
          "label": "2 Columns"
        },
        {
          "value": "col-lg-4",
          "label": "3 Columns"
        },
        {
          "value": "col-lg-3",
          "label": "4 Columns"
        },
        {
          "value": "col-lg-2",
          "label": "6 Columns"
        }
      ],
      "default": "col-lg-3"
    },
    {
      "type": "select",
      "id": "md_columns",
      "label": "Medium Devices",
      "options": [
        {
          "value": "col-md-6",
          "label": "2 Columns"
        },
        {
          "value": "col-md-4",
          "label": "3 Columns"
        },
        {
          "value": "col-md-3",
          "label": "4 Columns"
        },
        {
          "value": "col-md-2",
          "label": "6 Columns"
        }
      ],
      "default": "col-md-3"
    },
    {
      "type": "select",
      "id": "sm_columns",
      "label": "Small Devices",
      "options": [
        {
          "value": "col-sm-6",
          "label": "2 Columns"
        },
        {
          "value": "col-sm-4",
          "label": "3 Columns"
        },
        {
          "value": "col-sm-3",
          "label": "4 Columns"
        },
        {
          "value": "col-sm-2",
          "label": "6 Columns"
        }
      ],
      "default": "col-sm-6"
    },
    {
      "type": "select",
      "id": "xs_columns",
      "label": "Xtra Small Devices",
      "options": [
        {
          "value": "col-xs-6",
          "label": "2 Columns"
        },
        {
          "value": "col-xs-12",
          "label": "6 Columns"
        }
      ],
      "default": "col-xs-6"
    },
    {
      "type": "color",
      "id": "single_collection_bg",
      "label": "Image background color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "opacity_single_collection",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Opacity",
      "default": 10
    },
    {
      "type": "checkbox",
      "id": "show_product_name",
      "label": "Show product name",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_product_price",
      "label": "Show product price",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Collection group two"
    }
  ]
}
{% endschema %}
