<section class="collection collection2">
  <div class="container">
    <h2 class="featured-product-title">{{ section.settings.collection_section_title }}</h2>
    <div class="row gy-3">
      {%- for product in section.settings.collection.products limit: 4 -%}
        <div class="col-6 col-md-6 col-xs-6">
          <div class="collection2__collection-item">
            {% assign opacity_single_collection = section.settings.opacity_single_collection | divided_by: 100.00 %}
            <div class="collection2__product-img" style="background-color: {{ section.settings.single_collection_bg | color_modify: 'alpha', opacity_single_collection }};">
              <div class="collection2__heart"><i class="bi bi-heart"></i></div>
              <a href="{{ product.url }}">
                {%- if product.images[0] != blank -%}
                  <img
                    srcset="{%- if product.images[0].width >= 165 -%}{{ product.images[0] | img_url: '165x' }} 165w,{%- endif -%}
                    {%- if product.images[0].width >= 360 -%}{{ product.images[0] | img_url: 'master' }} 360w,{%- endif -%}
                    {%- if product.images[0].width >= 535 -%}{{ product.images[0] | img_url: 'master' }} 535w,{%- endif -%}
                    {%- if product.images[0].width >= 750 -%}{{ product.images[0] | img_url: 'master' }} 750w,{%- endif -%}
                    {%- if product.images[0].width >= 2000 -%}{{ product.images[0] | img_url: 'master' }} 2000w,{%- endif -%}
                    {%- if product.images[0].width >= 2040 -%}{{ product.images[0] | img_url: '2040x' }} 2040w,{%- endif -%}"
                    src="{{ product.images[0] | img_url: 'master' }}"
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                    alt="{{ product.images[0].alt | escape }}" 
                    loading="lazy" 
                    width="{{ product.images[0].width }}"
                    class="rounded mx-auto d-block"
                    style="max-width: 70%;"
                  >
                {%- else -%}
                  {{ 'product-2' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </a>
            </div>
            <div class="collection2__product-info">
              <div class="collection2__product-details">
                {%- if section.settings.show_product_name == true -%}
                  <span class="collection2__product-title">
                    {{ product.title }}
                  </span>
                {%- endif -%}

                {%- if section.settings.show_product_price == true -%}
                  <span class="collection2__product-price">
                    {{ product.price | money }}
                  </span>
                {%- endif -%}
                </div>
              <div class="collection2__product-colors">
                <div class="collection2__color collection2__color--blue"></div>
                <div class="collection2__color collection2__color--black"></div>
              </div>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</section>



<div class="hero hero1 position hero1--aligned-{{ section.settings.content_alignment }}">
  {%- if section.settings.image != blank -%}
    <img
      srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
        {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: 'master' }} 360w,{%- endif -%}
        {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: 'master' }} 535w,{%- endif -%}
        {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: 'master' }} 750w,{%- endif -%}
        {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: 'master' }} 2000w,{%- endif -%}
        {%- if section.settings.image.width >= 2040 -%}{{ section.settings.image | img_url: '2040x' }} 2040w,{%- endif -%}"
      src="{{ section.settings.image | img_url: 'master' }}"
      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
      alt="{{ section.settings.image.alt | escape }}"
      loading="lazy"
      width="{{ section.settings.image.width }}"
      class="hero1__bg"
    >
  {%- else -%}
    {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
  {%- endif -%}

  <!-- HERO BLOCKS -->
  {% assign opacity = section.settings.opacity | divided_by: 100.00 %}
  <div class="hero1__content-container" style="background-color: {{ section.settings.background | color_modify: 'alpha', opacity }};">
    <div class="hero1__info">
      {%- for block in section.blocks -%}
        {% case block.type %}
          {%- when 'heading' -%}

            <h1 class="hero1__heading" {{ block.shopify_attributes }}>
              {{ block.settings.hero_one_title | escape }}
            </h1>

          {%- when 'text' -%}

            <p class="hero1__paragraph" {{ block.shopify_attributes }}>
              {{ block.settings.hero_one_text | escape }}
            </p>

          {%- when 'button' -%}
          
            {%- if block.settings.button_label != blank -%}
              <a href="{{ block.settings.button_link }}" class="hero1__cta" {{ block.shopify_attributes }}>
                {{ block.settings.button_label | escape }}
              </a>              
            {%- endif -%}

        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection group two",
  "settings": [
    {
      "type": "text",
      "id": "collection_section_title",
      "label": "Collection section title",
      "default": "Popular Designs"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Featured Collection"
    },
    {
      "type": "color",
      "id": "single_collection_bg",
      "label": "Hero image background",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "opacity_single_collection",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Opacity",
      "default": 10
    },
    {
      "type": "checkbox",
      "id": "show_product_name",
      "label": "Show product name",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_product_price",
      "label": "Show product price",
      "default": true
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Hero content alignment"
    }
  ],
  "presets": [
    {
      "name": "Collection group two",
    }
  ]
}
{% endschema %}
