<!-- {%- assign collection1 = collections[section.settings.collection1] -%} -->
{{ 'Collection1.css' | asset_url | stylesheet_tag }}

<section class="collection collection1">
  <div class="container">
    <h2 class="collection1__heading">{{ section.settings.collection_section_title }}</h2>
    <div class="row align-items-md-stretch gy-3">
      <div class="col-md-6">
        <div class="h-100 rounded-3 position">
          <a href="#">
            {%- if section.settings.image_collection_1 != blank -%}
              <img
                srcset="{%- if section.settings.image_collection_1.width >= 165 -%}{{ section.settings.image_collection_1 | img_url: '165x' }} 165w,{%- endif -%}
                {%- if section.settings.image_collection_1.width >= 360 -%}{{ section.settings.image_collection_1 | img_url: 'master' }} 360w,{%- endif -%}
                {%- if section.settings.image_collection_1.width >= 535 -%}{{ section.settings.image_collection_1 | img_url: 'master' }} 535w,{%- endif -%}
                {%- if section.settings.image_collection_1.width >= 750 -%}{{ section.settings.image_collection_1 | img_url: 'master' }} 750w,{%- endif -%}
                {%- if section.settings.image_collection_1.width >= 2000 -%}{{ section.settings.image_collection_1 | img_url: 'master' }} 2000w,{%- endif -%}
                {%- if section.settings.image_collection_1.width >= 2040 -%}{{ section.settings.image_collection_1 | img_url: '2040x' }} 2040w,{%- endif -%}"
                src="{{ section.settings.image_collection_1 | img_url: 'master' }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ section.settings.image_collection_1.alt | escape }}" loading="lazy" width="{{ section.settings.image.width }}"
                class="collection1__img"
              >
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </a>

          {% assign opacity_collection_1 = section.settings.opacity_collection_1 | divided_by: 100.00 %}
          <div class="collection1__info" style="background-color: {{ section.settings.collection_bg_1 | color_modify: 'alpha', opacity_collection_1 }};">
            <div class="collection1__info-content">
              <h2 class="collection1__title">{{ section.settings.collection1_title }}</h2>
              <p class="collection1__paragraph">{{ section.settings.collection1_description }}</p>
              {%- if section.settings.button_label_1 != blank -%}
                <a href="{{ section.settings.button_link_1 }}" class="collection1__cta">
                  {{ section.settings.button_label_1 | escape }}
                </a>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 rounded-3 position">
          <a href="#">
            {%- if section.settings.image_collection_2 != blank -%}
            <img
              srcset="{%- if section.settings.image_collection_2.width >= 165 -%}{{ section.settings.image_collection_2 | img_url: '165x' }} 165w,{%- endif -%}
              {%- if section.settings.image_collection_2.width >= 360 -%}{{ section.settings.image_collection_2 | img_url: 'master' }} 360w,{%- endif -%}
              {%- if section.settings.image_collection_2.width >= 535 -%}{{ section.settings.image_collection_2 | img_url: 'master' }} 535w,{%- endif -%}
              {%- if section.settings.image_collection_2.width >= 750 -%}{{ section.settings.image_collection_2 | img_url: 'master' }} 750w,{%- endif -%}
              {%- if section.settings.image_collection_2.width >= 2000 -%}{{ section.settings.image_collection_2 | img_url: 'master' }} 2000w,{%- endif -%}
              {%- if section.settings.image_collection_2.width >= 2040 -%}{{ section.settings.image_collection_2 | img_url: '2040x' }} 2040w,{%- endif -%}"
              src="{{ section.settings.image_collection_2 | img_url: 'master' }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
              alt="{{ section.settings.image_collection_2.alt | escape }}" loading="lazy" width="{{ section.settings.image.width }}"
              class="collection1__img">
            {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </a>

          {% assign opacity_collection_2 = section.settings.opacity_collection_2 | divided_by: 100.00 %}
          <div class="collection1__info" style="background-color: {{ section.settings.collection_bg_2 | color_modify: 'alpha', opacity_collection_2 }};">
            <div class="collection1__info-content">
              <h2 class="collection1__title">{{ section.settings.collection2_title }}</h2>
              <p class="collection1__paragraph">{{ section.settings.collection2_description }}</p>
              
              {%- if section.settings.button_label_2 != blank -%}
                <a href="{{ section.settings.button_link_2 }}" class="collection1__cta">
                  {{ section.settings.button_label_2 | escape }}
                </a>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collection group one",
  "settings": [
    {
      "type": "text",
      "id": "collection_section_title",
      "label": "Collection section title",
      "default": "Shop Collection"
    },
    {
      "type": "image_picker",
      "id": "image_collection_1",
      "label": "Image collection 1"
    },
    {
      "type": "color",
      "id": "collection_bg_1",
      "label": "Collection one image background",
      "default": "#cccccc"
    },
    {
      "type": "range",
      "id": "opacity_collection_1",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Opacity",
      "default": 5
    },
    {
      "type": "text",
      "id": "collection1_title",
      "label": "Collection 1 title",
      "default": "Guys Swimwear"
    },
    {
      "type": "text",
      "id": "collection1_description",
      "label": "Collection 1 description",
      "default": "Mens trending fashion swimwear."
    },
    {
      "type": "text",
      "id": "button_label_1",
      "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
      "default": "SHOP COLLECTION"
    },
    {
      "type": "url",
      "id": "button_link_1",
      "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
    },
    {
      "type": "image_picker",
      "id": "image_collection_2",
      "label": "Image collection 2"
    },
    {
      "type": "color",
      "id": "collection_bg_2",
      "label": "Collection two image background",
      "default": "#cccccc"
    },
    {
      "type": "range",
      "id": "opacity_collection_2",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Opacity",
      "default": 5
    },
    {
      "type": "text",
      "id": "collection2_title",
      "label": "Collection 2 title",
      "default": "Girls Swimwear"
    },
    {
      "type": "text",
      "id": "collection2_description",
      "label": "Collection 2 description",
      "default": "Wear the summer impressions."
    },
    {
      "type": "text",
      "id": "button_label_2",
      "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
      "default": "SHOP COLLECTION"
    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
    }
  ],
  "presets": [
    {
      "name": "Collection group one"
    }
  ]
}
{% endschema %}