{% assign opacity_1 = section.settings.opacity_1 | divided_by: 100.00 %}
{% style %}
.collection5__link-wrap:before{
  background-color: {{ section.settings.bg_1 | color_modify: 'alpha', opacity_1 }};
}
{% endstyle %}

<section class="collection collection5" style="background-color: {{ section.settings.section_bg_color }};">
  <div class="container">
    <span class="collection5__sub-top">
      {{ section.settings.top_heading }}
    </span>
    <h2 class="collection5__heading mb-5 text-center">
      {{ section.settings.heading }}
    </h2>
    <div class="row g-3">
      <div class="col-md-4">
        <a href="{{ section.settings.portrait_img_url_1 }}" class="collection5__link-wrap mx-auto">
          <div class="collection5__wrapper collection5__padded-container">
            {%- if section.settings.portrait_img_1 != blank -%}
              <img
                srcset="{%- if section.settings.portrait_img_1.width >= 165 -%}{{ section.settings.portrait_img_1 | img_url: '165x' }} 165w,{%- endif -%}
                {%- if section.settings.portrait_img_1.width >= 360 -%}{{ section.settings.portrait_img_1 | img_url: 'master' }} 360w,{%- endif -%}
                {%- if section.settings.portrait_img_1.width >= 535 -%}{{ section.settings.portrait_img_1 | img_url: 'master' }} 535w,{%- endif -%}
                {%- if section.settings.portrait_img_1.width >= 750 -%}{{ section.settings.portrait_img_1 | img_url: 'master' }} 750w,{%- endif -%}
                {%- if section.settings.portrait_img_1.width >= 2000 -%}{{ section.settings.portrait_img_1 | img_url: 'master' }} 2000w,{%- endif -%}
                {%- if section.settings.portrait_img_1.width >= 2040 -%}{{ section.settings.portrait_img_1 | img_url: '2040x' }} 2040w,{%- endif -%}"
                src="{{ section.settings.portrait_img_1 | img_url: 'master' }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ section.settings.image.alt | escape }}" 
                loading="lazy" 
                width="{{ section.settings.image.width }}"
                class="collection5__img"
              >
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}  
          </div>
          <div class="collection5__card-info">
            <h3 class="collection5__card-title">
              {{ section.settings.portrait_text_1 }}
            </h3>
          </div>
        </a>
      </div>
      
      <div class="col-md-4">
        <a href="{{ section.settings.portrait_img_url_2 }}" class="collection5__link-wrap mx-auto">
          <div class="collection5__wrapper collection5__padded-container">
            {%- if section.settings.portrait_img_2 != blank -%}
              <img
                srcset="{%- if section.settings.portrait_img_2.width >= 165 -%}{{ section.settings.portrait_img_2 | img_url: '165x' }} 165w,{%- endif -%}
                {%- if section.settings.portrait_img_2.width >= 360 -%}{{ section.settings.portrait_img_2 | img_url: 'master' }} 360w,{%- endif -%}
                {%- if section.settings.portrait_img_2.width >= 535 -%}{{ section.settings.portrait_img_2 | img_url: 'master' }} 535w,{%- endif -%}
                {%- if section.settings.portrait_img_2.width >= 750 -%}{{ section.settings.portrait_img_2 | img_url: 'master' }} 750w,{%- endif -%}
                {%- if section.settings.portrait_img_2.width >= 2000 -%}{{ section.settings.portrait_img_2 | img_url: 'master' }} 2000w,{%- endif -%}
                {%- if section.settings.portrait_img_2.width >= 2040 -%}{{ section.settings.portrait_img_2 | img_url: '2040x' }} 2040w,{%- endif -%}"
                src="{{ section.settings.portrait_img_2 | img_url: 'master' }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ section.settings.image.alt | escape }}" 
                loading="lazy" 
                width="{{ section.settings.image.width }}"
                class="collection5__img"
              >
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}  
          </div>
          <div class="collection5__card-info">
            <h3 class="collection5__card-title">
              {{ section.settings.portrait_text_2 }}
            </h3>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="{{ section.settings.portrait_img_url_3 }}" class="collection5__link-wrap mx-auto">
          <div class="collection5__wrapper collection5__padded-container">
            {%- if section.settings.portrait_img_3 != blank -%}
              <img
                srcset="{%- if section.settings.portrait_img_3.width >= 165 -%}{{ section.settings.portrait_img_3 | img_url: '165x' }} 165w,{%- endif -%}
                {%- if section.settings.portrait_img_3.width >= 360 -%}{{ section.settings.portrait_img_3 | img_url: 'master' }} 360w,{%- endif -%}
                {%- if section.settings.portrait_img_3.width >= 535 -%}{{ section.settings.portrait_img_3 | img_url: 'master' }} 535w,{%- endif -%}
                {%- if section.settings.portrait_img_3.width >= 750 -%}{{ section.settings.portrait_img_3 | img_url: 'master' }} 750w,{%- endif -%}
                {%- if section.settings.portrait_img_3.width >= 2000 -%}{{ section.settings.portrait_img_3 | img_url: 'master' }} 2000w,{%- endif -%}
                {%- if section.settings.portrait_img_3.width >= 2040 -%}{{ section.settings.portrait_img_3 | img_url: '2040x' }} 2040w,{%- endif -%}"
                src="{{ section.settings.portrait_img_3 | img_url: 'master' }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ section.settings.image.alt | escape }}" 
                loading="lazy" 
                width="{{ section.settings.image.width }}"
                class="collection5__img"
              >
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}   
          </div>
          <div class="collection5__card-info">
            <h3 class="collection5__card-title">
              {{ section.settings.portrait_text_3 }}
            </h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Portrait collection",
  "settings": [
    {
      "type": "text",
      "id": "top_heading",
      "label": "Top heading",
      "default": "FEEL COMFORTABLE"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Beach Collection"
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Section background color",
      "default": "#f9f4ee"
    },
    {
      "type": "url",
      "id": "portrait_img_url",
      "label": "Image URL"
    },
    {
      "type": "image_picker",
      "id": "portrait_img_1",
      "label": "Portrait image 1"
    },
    {
      "type": "color",
      "id": "bg_1",
      "label": "Overlay color",
      "default": "#121212"
    },
    {
      "type": "range",
      "id": "opacity_1",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Opacity",
      "default": 5
    },
    {
      "type": "text",
      "id": "portrait_text_1",
      "label": "Portrait text 1",
      "default": "Women"
    },
    {
      "type": "url",
      "id": "portrait_img_url_2",
      "label": "Image URL"
    },
    {
      "type": "image_picker",
      "id": "portrait_img_2",
      "label": "Portrait image 2"
    },
    {
      "type": "text",
      "id": "portrait_text_2",
      "label": "Portrait text 2",
      "default": "Men"
    },
    {
      "type": "url",
      "id": "portrait_img_url_3",
      "label": "Image URL"
    },
    {
      "type": "image_picker",
      "id": "portrait_img_3",
      "label": "Portrait image 3"
    },
    {
      "type": "text",
      "id": "portrait_text_3",
      "label": "Portrait text 3",
      "default": "Accessories"
    }
  ],
  "presets":[
    {
      "name": "Portrait collection"
    }
  ]
}
{% endschema %}