<footer class="main-footer">
  <div class="container py-5">
    <div class="row gy-3">
      <div class="col-sm-3 col-md-3 mx-auto">
        {%- if block.settings.image != blank -%}
        {%- assign image_size = block.settings.image_width | append: 'x' -%}
        <img
          srcset="{{ block.settings.image | img_url: image_size }}, {{ block.settings.image | img_url: image_size, scale: 2 }} 2x"
          src="{{ block.settings.image | img_url: '400x' }}" alt="{{ block.settings.image.alt | escape }}" loading="lazy"
          width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}"
          style="max-width: min(100%, {{ block.settings.image_width }}px);">
        {%- else -%}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        {%- endif -%}
      </div>
      {%- for block in section.blocks -%}  
          <div class="col-sm-3 col-md-3">
            <h5 class="footer-heading-title pb-5">{{ block.settings.heading | escape }}</h5>
              <ul>
                {%- for link in block.settings.menu.links -%}
                  <li>
                    <a class="footer-link" href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {%- endfor -%}
              </ul> 
          </div>
      {%- endfor -%}
    </div>
  </div>
  <div class="main-footer__social">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-4">
          <ul class="main-footer__social-list">
            {%- if section.settings.show_social != false -%}
              <li><a href="#"><i class="bi bi-facebook"></i></a></li>
              <li><a href="#"><i class="bi bi-instagram"></i></a></li>
              <li><a href="#"><i class="bi bi-twitter"></i></a></li>
              <li><a href="#"><i class="bi bi-youtube"></i></a></li>
            {%- endif -%}
          </ul>
        </div>
        <div class="col-4 mx-auto">
          {% assign enabled_payment_types = 'visa,master,american_express,paypal,apple_pay,discover, shopify_pay' | remove: ' ' | split: ',' %}
          {%- if section.settings.show_payment_icons -%}
            <ul class="d-flex align-items-center justify-content-center mt-1">
              {% for type in enabled_payment_types %}
                <li>{{ type | payment_type_svg_tag: class: 'icon icon--full-color'}}</li>
              {% endfor %}
            </ul>
          {%- endif -%}
        </div>
        <div class="col-4 d-flex justify-content-end">
          <span class="main-footer__copyright">© {{ 'now' | date: "%Y" }}, {{ shop.name }}</span>
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}