{{ 'Footer.css' | asset_url | stylesheet_tag }}

<footer class="main-footer">
  <div class="container py-5">
    <div class="row gy-3">
      <div class="col-sm-3 col-md-3 mx-auto d-flex justify-content-start">
        {%- if section.settings.footer_logo != blank -%}
        {%- assign image_size = section.settings.footer_logo_width | append: 'x' -%}
        <img
          srcset="{{ section.settings.footer_logo | img_url: image_size }} 1x, {{ section.settings.footer_logo | img_url: image_size, scale: 2 }} 2x"
          src="{{ section.settings.footer_logo | img_url: image_size }}" loading="lazy"
          width="{{ section.settings.footer_logo.width }}"
          alt="{{ section.settings.footer_logo.alt | default: shop.name | escape }}">
        {%- else -%}
        <h1 class="header1__nav-logo">
          {{ shop.name }}
        </h1>
        {%- endif -%}
      </div>
      {%- for block in section.blocks -%}  
          <div class="col-sm-3 col-md-3">
            <h5 class="footer-heading-title pb-5">{{ block.settings.heading | escape }}</h5>
              <ul>
                {%- for link in block.settings.menu.links -%}
                  <li>
                    <a class="footer-link" href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {%- endfor -%}
              </ul> 
          </div>
      {%- endfor -%}
    </div>
  </div>
  <div class="main-footer__social py-3">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-3">
          {%- if section.settings.show_social -%}
          <ul class="main-footer__social-list" role="list">
            {%- if settings.social_facebook_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_facebook_link }}" class="link link--text list-social__link"
                aria-describedby="a11y-external-message">
                {%- render 'icon-facebook' -%}
                <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
              </a>
            </li>
            {%- endif -%}
            {%- if settings.social_instagram_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_instagram_link }}" class="link link--text list-social__link"
                aria-describedby="a11y-external-message">
                {%- render 'icon-instagram' -%}
                <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
              </a>
            </li>
            {%- endif -%}
            {%- if settings.social_twitter_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_twitter_link }}" class="link link--text list-social__link"
                aria-describedby="a11y-external-message">
                {%- render 'icon-twitter' -%}
                <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
              </a>
            </li>
            {%- endif -%}
            {%- if settings.social_tiktok_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_tiktok_link }}" class="link link--text list-social__link"
                aria-describedby="a11y-external-message">
                {%- render 'icon-tiktok' -%}
                <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
              </a>
            </li>
            {%- endif -%}
            {%- if settings.social_snapchat_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_snapchat_link }}" class="link link--text list-social__link"
                aria-describedby="a11y-external-message">
                {%- render 'icon-snapchat' -%}
                <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
              </a>
            </li>
            {%- endif -%}
            {%- if settings.social_youtube_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_youtube_link }}" class="link link--text list-social__link"
                aria-describedby="a11y-external-message">
                {%- render 'icon-youtube' -%}
                <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
              </a>
            </li>
            {%- endif -%}
          </ul>
          {%- endif -%}
        </div>
        <div class="col-md-6 col mx-auto">
          {% assign enabled_payment_types = 'visa,master,american_express,paypal,apple_pay,discover, shopify_pay' | remove: ' ' | split: ',' %}
          {%- if section.settings.show_payment_icons -%}
            <ul class="d-flex align-items-center mt-1 payment-list">
              {% for type in enabled_payment_types %}
                <li class="payment-item">{{ type | payment_type_svg_tag: class: 'icon icon--full-color'}}</li>
              {% endfor %}
            </ul>
          {%- endif -%}
        </div>
        <div class="col-md-3 d-flex copy-column">
          <span class="main-footer__copyright">© {{ 'now' | date: "%Y" }}, {{ shop.name }}</span>
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "footer_logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}