{% case section.settings.header_type %}
  <!-- *****======HEADER STYLE 1 ======****** -->
  {% when 'header1' %}

  {{ 'Header1.css' | asset_url | stylesheet_tag }}

  <link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
  
  <noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
  
  <script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

  {% assign opacity = section.settings.opacity | divided_by: 100.00 %}
  <header class="header header1" style="background-color: {{ section.settings.header_background_color | color_modify: 'alpha', opacity }};">
    <div class="header1__wrapper py-3">
      <div class="container">
        <div class="row mx-auto">
          <div class="col-4 col-md-4 d-flex align-items-center justify-content-start">
            <nav class="header1__nav-left">
              <ul class="header1__nav-left-list d-flex align-items-center">
                {%- if section.settings.menu != blank -%}
                  {%- for link in section.settings.menu.links -%}
                    {%- if settings.mega_title == link.title -%}
                      <!-- REGULAR LINK WITH A DROPDOWN MEGAMENU LEFT SIDE -->
                      <li class="header1__nav-left-list-item header1__has-dropdown site-nav--is-megamenu">
                        <a href="/" class="header1__nav-left-link header1__nav--link-has-dropdown">
                          {{ link.title | escape }} <span className="dropdown-icon"><i class="bi bi-chevron-down"></i></span>
                        </a>
                        <!-- Megamenu START -->
                        <div class="nav-dropdown text-left megamenu">
                          <div class="page-width">
                            <div class="container">
                              <div class="row">
                                
                                  {%- for block in section.blocks -%}
                                  <div class="col-sm-3 col-md-3 col-lg-3">
                                    <a href="{{ block.settings.mega_menu_img_link }}" class="megamenu__collection-img">
                                      {%- if block.settings.mega_menu_image != blank -%}
                                        <img
                                          srcset="{%- if block.settings.mega_menu_image.width >= 165 -%}{{ block.settings.mega_menu_image | img_url: '165x' }} 165w,{%- endif -%}
                                          {%- if block.settings.mega_menu_image.width >= 360 -%}{{ block.settings.mega_menu_image | img_url: 'master' }} 360w,{%- endif -%}
                                          {%- if block.settings.mega_menu_image.width >= 535 -%}{{ block.settings.mega_menu_image | img_url: 'master' }} 535w,{%- endif -%}
                                          {%- if block.settings.mega_menu_image.width >= 750 -%}{{ block.settings.mega_menu_image | img_url: 'master' }} 750w,{%- endif -%}
                                          {%- if block.settings.mega_menu_image.width >= 2000 -%}{{ block.settings.mega_menu_image | img_url: 'master' }} 2000w,{%- endif -%}
                                          {%- if block.settings.mega_menu_image.width >= 2040 -%}{{ block.settings.mega_menu_image | img_url: '2040x' }} 2040w,{%- endif -%}"
                                          src="{{ block.settings.mega_menu_image | img_url: 'master' }}"
                                          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                          alt="{{ section.settings.image.alt | escape }}" loading="lazy"
                                          width="{{ section.settings.image.width }}">
                                      {%- else -%}
                                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                      {%- endif -%}
                                    </a>
                                    <h5 class="megamenu__collection-heading py-3">
                                      <a href="{{ block.settings.mega_menu_heading_link }}">{{ block.settings.mega_menu_column_heading }}</a>
                                    </h5>
                                    <ul class="megamenu__list text-left nav-dropdown__list">
                                      {%- for link in block.settings.mega_menu_links.links -%}
                                        <li class="nav-dropdown__list-item">
                                          <a href="{{ link.url }}" class="nav-dropdown__link">
                                            {{ link.title }}
                                          </a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  </div>
                                  {%- endfor -%}
                                
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Megamenu END -->
                      </li>

                    {%- elsif link.links != blank -%}
                      <!-- REGULAR LINK WITH A DROPDOWN MENU LEFT SIDE -->
                      <li class="header1__nav-left-list-item header1__has-dropdown">
                        <a href="" class="header1__nav-left-link header1__nav--link-has-dropdown">
                          {{ link.title | escape }} <span class="dropdown-icon"><i class="bi bi-chevron-down"></i></span>
                        </a>
                        <!-- Dropdown Menu START -->
                        <ul class="nav-dropdown text-left nav-dropdown__list">
                          {% for childlink in link.links %}
                            <li class="nav-dropdown__list-item">
                              <a href="{{ childlink.url }}" class="nav-dropdown__link">{{ childlink.title | escape }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                        <!-- Dropdown Menu END -->
                      </li>
                    {%- else -%}
                      <!-- REGULAR LINK -->
                      <li class="header1__nav-left-list-item">
                        <a href="{{ link.url }}" class="header1__nav-left-link">
                          {{ link.title | escape }}
                        </a>
                      </li>
                    {% endif %} 
                  {%- endfor -%}
                {%- endif -%}
              </ul>
            </nav>
          </div>

          <div class="col-4 col-md-4 d-flex align-items-center justify-content-center">
            <div class="header1__nav-logo-center-wrapper">
              <a href="/">
                {%- if section.settings.logo != blank -%}
                {%- assign image_size = section.settings.logo_width | append: 'x' -%}
                  <img
                    srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                    src="{{ section.settings.logo | img_url: image_size }}" loading="lazy" class="header__heading-logo"
                    width="{{ section.settings.logo.width }}" height="{{ section.settings.logo.height }}"
                    alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
                {%- else -%}
                <h1 class="header1__nav-logo">
                  {{ shop.name }}
                </h1>
                {%- endif -%}
              </a>
            </div>
          </div>

          <div class="col-4 colmd-4 d-flex align-items-center justify-content-end">
            <nav class="header1__nav-right">
              <ul class="header1__nav-right-list d-flex align-items-center">
                {%- if section.settings.menu != blank -%}
                  {%- for link in section.settings.menu_2.links -%}
                    {% if settings.mega_title == link.title %}
                      <!-- REGULAR LINK WITH A DROPDOWN MEGAMENU RIGHT SIDE -->
                      <li class="header1__nav-left-list-item header1__has-dropdown site-nav--is-megamenu">
                        <a href="" class="header1__nav-left-link header1__nav--link-has-dropdown">
                          {{ link.title | escape }} <span className="dropdown-icon"><i class="bi bi-chevron-down"></i></span>
                        </a>
                        <!-- Megamenu START -->
                        <div class="nav-dropdown text-left megamenu">
                          <div class="page-width">
                            <div class="container">
                              <div class="row">
                                
                                  {%- for block in section.blocks -%}
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                      <a href="#" class="megamenu__collection-img">
                                        {%- if block.settings.mega_menu_image != blank -%}
                                          <img
                                            srcset="{%- if block.settings.mega_menu_image.width >= 165 -%}{{ block.settings.mega_menu_image | img_url: '165x' }} 165w,{%- endif -%}
                                            {%- if block.settings.mega_menu_image.width >= 360 -%}{{ block.settings.mega_menu_image | img_url: 'master' }} 360w,{%- endif -%}
                                            {%- if block.settings.mega_menu_image.width >= 535 -%}{{ block.settings.mega_menu_image | img_url: 'master' }} 535w,{%- endif -%}
                                            {%- if block.settings.mega_menu_image.width >= 750 -%}{{ block.settings.mega_menu_image | img_url: 'master' }} 750w,{%- endif -%}
                                            {%- if block.settings.mega_menu_image.width >= 2000 -%}{{ block.settings.mega_menu_image | img_url: 'master' }} 2000w,{%- endif -%}
                                            {%- if block.settings.mega_menu_image.width >= 2040 -%}{{ block.settings.mega_menu_image | img_url: '2040x' }} 2040w,{%- endif -%}"
                                            src="{{ block.settings.mega_menu_image | img_url: 'master' }}"
                                            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                            alt="{{ section.settings.image.alt | escape }}" loading="lazy"
                                            width="{{ section.settings.image.width }}">
                                        {%- else -%}
                                          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                        {%- endif -%}
                                      </a>
                                      <h5 class="megamenu__collection-heading py-3">
                                        <a href="#">{{ block.settings.mega_menu_column_heading }}</a>
                                      </h5>
                                      <ul class="megamenu__list text-left nav-dropdown__list">
                                        {%- for link in block.settings.mega_menu_links.links -%}
                                          <li class="nav-dropdown__list-item">
                                            <a href="{{ link.url }}" class="nav-dropdown__link">
                                              {{ link.title }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  {%- endfor -%}
                                
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Megamenu END -->
                      </li>
                    {% elsif link.links != blank %}
                      <!-- REGULAR LINK WITH A DROPDOWN MENU RIGHT SIDE -->
                      <li class="header1__nav-right-list-item header1__has-dropdown">
                        <a href="" class="header1__nav-right-link header1__nav--link-has-dropdown">
                          {{ link.title }} <span class="dropdown-icon"><i class="bi bi-chevron-down"></i></span>
                        </a>
                        <!-- Dropdown Menu START -->
                        <ul class="nav-dropdown text-left nav-dropdown__list">
                          {% for childlink in link.links %}
                          <li class="nav-dropdown__list-item">
                            <a href="{{ childlink.url }}" class="nav-dropdown__link">{{ childlink.title }}</a>
                          </li>
                          {% endfor %}
                        </ul>
                        <!-- Dropdown Menu END -->
                      </li>
                    {% else %}
                      <!-- REGULAR LINK -->
                      <li class="header1__nav-right-list-item">
                        <a href="{{ link.url }}" class="header1__nav-right-link">
                          {{ link.title }}
                        </a>
                      </li>
                    {% endif %}
                  {%- endfor -%}
                {%- endif -%}

                <!-- MERCHANT CONTROLS -->
                
                <li class="header1__nav-right-list-item">
                  <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
                    <span class="nav-search"><i class="bi bi-search"></i></span>
                  </button>
                </li>
                <li class="header1__nav-right-list-item">
                  {%- if shop.customer_accounts_enabled -%}
                  <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                    class="menu-drawer__account link link--text focus-inset" style="padding-bottom: 5px;">
                    {% render 'icon-account' %}
                    <span class="visually-hidden">
                      {%- liquid
                      if customer
                        echo 'customer.account_fallback' | t
                      else
                        echo 'customer.log_in' | t
                      endif
                      -%}
                    </span>
                  </a>
                  {%- endif -%} 
                </li>
                <li class="header1__nav-right-list-item">  
                  <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link link--text focus-inset"
                    id="cart-icon-bubble">
                    {%- liquid
                    if cart == empty
                    render 'icon-cart'
                    else
                    render 'icon-cart'
                    endif
                    -%}
                    <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                    {%- if cart != empty -%}
                    <div class="cart-count-bubble">
                      {%- if cart.item_count < 100 -%} <span aria-hidden="true">{{ cart.item_count }}</span>
                        {%- endif -%}
                        <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                    </div>
                    {%- endif -%}
                  </a>
                </li> 
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- Mobile Start -->
    <div class="header1__mobile-nav-wrapper">
      <nav class="nav nav1 nav-m1">
        <div class="container position h-100">
          <div class="row d-flex align-items-center justify-content-space-between mobile-content">
            <div class="col-3 col-sm-4">
              <div class="nav-m1__nav-left-wrapper d-flex justify-content-start text-end">
                <button id="openNav" type="button" class="nav-m1__mobile-menu-btn">
                  <i class="bi bi-list"></i>
                </button>
              </div>
            </div>
            <div class="col col-sm-4">
              <div class="nav-m1__logo-wrapper text-center my-auto">
                <a href="/">
                  {%- if section.settings.mobile_logo != blank -%}
                    {%- assign mobile_image_size = section.settings.mobile_logo_width | append: 'x' -%}
                    <img
                      srcset="{{ section.settings.mobile_logo | img_url: mobile_image_size }} 1x, {{ section.settings.mobile_logo | img_url: mobile_image_size, scale: 2 }} 2x"
                      src="{{ section.settings.mobile_logo | img_url: image_size }}" loading="lazy" class="nav-m1__logo-link"
                      width="{{ section.settings.mobile_logo.width }}"
                      alt="{{ section.settings.mobile_logo.alt | default: shop.name | escape }}">
                    {%- else -%}
                    <h1 class="nav-m1__logo">
                      {{ shop.name }}
                    </h1>
                  {%- endif -%}
                </a>
              </div>
            </div>
            <div class="col-3 col-sm-4">
              <div class="nav-m1__nav-right-wrapper align-items-center d-flex justify-content-evenly">
                <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" style="padding-top: 3px; padding-right: 4px;">
                  <span class="header5__nav-right-search"><i class="bi bi-search"></i></span>
                </button>
                <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link link--text focus-inset" style="padding-top: 4px;"
                  id="cart-icon-bubble">
                  {%- liquid
                  if cart == empty
                  render 'icon-cart'
                  else
                  render 'icon-cart'
                  endif
                  -%}
                  <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                  {%- if cart != empty -%}
                  <div class="cart-count-bubble">
                    {%- if cart.item_count < 100 -%} <span aria-hidden="true">{{ cart.item_count }}</span>
                      {%- endif -%}
                      <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                  </div>
                  {%- endif -%}
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>      
    </div>
    
    <div class="nav-m1__content-wrapper" id="showMobileMenu">
      <div class="container">
        <div class="row">
          <div class="col-12 d-flex justify-content-end">
            <button id="closeNav" style="padding: 1.4rem;">
              <span class="close-btn" style="font-size: 30px;">
                <i class="bi bi-x-circle"></i>
              </span>
            </button>
          </div>
        </div>

        <nav class="nav-m1__main-nav">
          <ul class="nav-m1__main-nav-list">
            {%- if section.settings.menu != blank -%}
              {%- for link in section.settings.mobile_menu.links -%}
                {%- if link.links != blank -%}
                  <li class="nav-m1__main-nav-list-item d-down">
                    <button type="button" class="heder-m1__main-nav-link d-down-btn">
                      <p>{{ link.title }}</p><span class="arrow"><i class="bi bi-chevron-down"></i></span>
                    </button>
                    <nav class="drop-down">
                      <ul class="drop-down__list">
                        {% for childlink in link.links %}
                          <li class="drop-down__list-item"><a href="{{ childlink.url }}" class="drop-down__link">{{ childlink.title | escape }}</a></li>
                        {% endfor %}
                      </ul>
                    </nav>
                  </li>
                  {%- else -%}
                    <li class="nav-m1__main-nav-list-item">
                      <a href="{{ link.url }}" class="heder-m1__main-nav-link">{{ link.title }}</a>
                    </li>
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
          </ul>
        </nav>

      </div>     
    </div>
    <!-- Mobile Ends -->
  </header>
  {%- if request.page_type != 'cart' -%}
    {%- render 'cart-notification' -%}
  {%- endif -%}

  <!-- *****======HEADER STYLE 2 ======****** -->
  {% when 'header2' %}

  {{ 'Header2.css' | asset_url | stylesheet_tag }}

  <link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
  
  <noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
  
  <script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

  {% assign opacity = section.settings.opacity | divided_by: 100.00 %}
  <header class="header header2" style="background-color: {{ section.settings.header_background_color | color_modify: 'alpha', opacity }};">
    <div class="header2__wrapper">
      <div class="container">
        <div class="row mx-auto">
          <div class="col-4 col-md-4 d-flex align-items-center justify-content-start">
            <div class="header2__nav-logo-center-wrapper">
              <a href="/">
                {%- if section.settings.logo != blank -%}
                {%- assign image_size = section.settings.logo_width | append: 'x' -%}
                <img
                  srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                  src="{{ section.settings.logo | img_url: image_size }}" loading="lazy" class="header__heading-logo"
                  width="{{ section.settings.logo.width }}" height="{{ section.settings.logo.height }}"
                  alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
                {%- else -%}
                <h1 class="header1__nav-logo">
                  {{ shop.name }}
                </h1>
                {%- endif -%}
              </a>
            </div>
          </div>
          <div class="col-4 col-md-4 d-flex align-items-center justify-content-center">
            <nav class="header2__nav-left">
              <ul class="header2__nav-left-list d-flex align-items-center">
                {%- if section.settings.menu != blank -%}
                  {%- for link in section.settings.menu.links -%}
                    {%- if settings.mega_title == link.title -%}
                      <li class="header2__nav-right-list-item header2__has-dropdown site-nav--is-megamenu">
                        <a href="" class="header2__nav-right-link header2__nav--link-has-dropdown">
                          {{ link.title | escape }} <span className="dropdown-icon"><i class="bi bi-chevron-down"></i></span>
                        </a>
                        <!-- Megamenu START -->
                        <div class="nav-dropdown text-left megamenu">
                          <div class="page-width">
                            <div class="container">
                              <div class="row">
                                
                                  {%- for block in section.blocks -%}
                                  <div class="col-sm-3 col-md-3 col-lg-3">
                                    <a href="#" class="megamenu__collection-img">
                                      {%- if block.settings.mega_menu_image != blank -%}
                                        <img
                                          srcset="{%- if block.settings.mega_menu_image.width >= 165 -%}{{ block.settings.mega_menu_image | img_url: '165x' }} 165w,{%- endif -%}
                                          {%- if block.settings.mega_menu_image.width >= 360 -%}{{ block.settings.mega_menu_image | img_url: 'master' }} 360w,{%- endif -%}
                                          {%- if block.settings.mega_menu_image.width >= 535 -%}{{ block.settings.mega_menu_image | img_url: 'master' }} 535w,{%- endif -%}
                                          {%- if block.settings.mega_menu_image.width >= 750 -%}{{ block.settings.mega_menu_image | img_url: 'master' }} 750w,{%- endif -%}
                                          {%- if block.settings.mega_menu_image.width >= 2000 -%}{{ block.settings.mega_menu_image | img_url: 'master' }} 2000w,{%- endif -%}
                                          {%- if block.settings.mega_menu_image.width >= 2040 -%}{{ block.settings.mega_menu_image | img_url: '2040x' }} 2040w,{%- endif -%}"
                                          src="{{ block.settings.mega_menu_image | img_url: 'master' }}"
                                          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                          alt="{{ section.settings.image.alt | escape }}" loading="lazy"
                                          width="{{ section.settings.image.width }}">
                                      {%- else -%}
                                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                      {%- endif -%}
                                    </a>
                                    <h5 class="megamenu__collection-heading py-3">
                                      <a href="#">{{ block.settings.mega_menu_column_heading }}</a>
                                    </h5>
                                    <ul class="megamenu__list text-left nav-dropdown__list">
                                      {%- for link in block.settings.mega_menu_links.links -%}
                                        <li class="nav-dropdown__list-item">
                                          <a href="{{ link.url }}" class="nav-dropdown__link">
                                            {{ link.title }}
                                          </a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  </div>
                                  {%- endfor -%}
                                
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Megamenu END -->
                      </li>
                    {%- elsif link.links != blank -%}
                      <li class="header2__nav-left-list-item header2__has-dropdown">
                        <a href="" class="header2__nav-left-link header2__nav--link-has-dropdown">
                          {{ link.title }} <span className="dropdown-icon"><i class="bi bi-chevron-down"></i></span>
                        </a>
                        <!-- Dropdown Menu START -->
                        <ul class="nav-dropdown text-left nav-dropdown__list">
                          {% for childlink in link.links %}
                          <li class="nav-dropdown__list-item">
                            <a href="{{ childlink.url }}" class="nav-dropdown__link">{{ childlink.title }}</a>
                          </li>
                          {% endfor %}
                        </ul>
                        <!-- Dropdown Menu END -->
                      </li>
                    {%- else -%}
                      <li class="header2__nav-left-list-item">
                        <a href="{{ link.url }}" class="header2__nav-left-link">
                          {{ link.title | escape }}
                        </a>
                      </li>
                    {%- endif -%}
                  {%- endfor -%}
                {%- endif -%}
              </ul>
            </nav>
          </div>
          <div class="col-4 colmd-4 d-flex align-items-center justify-content-end">
            <nav class="header2__nav-right">
              <ul class="header2__nav-right-list d-flex align-items-center">
                <li class="header2__nav-right-list-item">
                  <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
                    <span class="nav-search"><i class="bi bi-search"></i></span>
                  </button>
                </li>
                <li class="header2__nav-right-list-item">
                  {%- if shop.customer_accounts_enabled -%}
                  <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                    class="menu-drawer__account link link--text focus-inset" style="padding-bottom: 5px;">
                    {% render 'icon-account' %}
                    <span class="visually-hidden">
                      {%- liquid
                      if customer
                      echo 'customer.account_fallback' | t
                      else
                      echo 'customer.log_in' | t
                      endif
                      -%}
                    </span>
                  </a>
                  {%- endif -%}
                </li>
                <li class="header2__nav-right-list-item">
                  <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link link--text focus-inset"
                    id="cart-icon-bubble">
                    {%- liquid
                    if cart == empty
                    render 'icon-cart'
                    else
                    render 'icon-cart'
                    endif
                    -%}
                    <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                    {%- if cart != empty -%}
                    <div class="cart-count-bubble">
                      {%- if cart.item_count < 100 -%} <span aria-hidden="true">{{ cart.item_count }}</span>
                        {%- endif -%}
                        <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                    </div>
                    {%- endif -%}
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!-- MOBILE MENU -->
    <div class="header2__mobile-nav-wrapper">
      <nav class="nav nav1 nav-m1 position">
        <div class="container">
          <div class="row d-flex align-items-center justify-content-space-between mobile-content">
            <div class="col-3 col-sm-4">
              <div class="nav-m1__nav-left-wrapper d-flex justify-content-start text-end">
                <button id="openNav" type="button" class="nav-m1__mobile-menu-btn">
                  <i class="bi bi-list"></i>
                </button>
              </div>
            </div>
            <div class="col col-sm-4">
              <div class="nav-m1__logo-wrapper text-center my-auto">
                <a href="/">
                  {%- if section.settings.mobile_logo != blank -%}
                  {%- assign mobile_image_size = section.settings.mobile_logo_width | append: 'x' -%}
                    <img
                      srcset="{{ section.settings.mobile_logo | img_url: mobile_image_size }} 1x, {{ section.settings.mobile_logo | img_url: mobile_image_size, scale: 2 }} 2x"
                      src="{{ section.settings.mobile_logo | img_url: image_size }}" loading="lazy" class="nav-m1__logo-link"
                      width="{{ section.settings.mobile_logo.width }}"
                      alt="{{ section.settings.mobile_logo.alt | default: shop.name | escape }}"
                    >
                  {%- else -%}
                    <h1 class="nav-m1__logo">
                      {{ shop.name }}
                    </h1>
                  {%- endif -%}
                </a>
              </div>
            </div>
            <div class="col-3 col-sm-4">
              <div class="nav-m1__nav-right-wrapper d-flex align-items-center justify-content-evenly">
                <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"
                  style="padding-top: 3px; padding-right: 4px;">
                  <span class="header5__nav-right-search"><i class="bi bi-search"></i></span>
                </button>

                <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link link--text focus-inset"
                  style="padding-top: 4px;" id="cart-icon-bubble">
                  {%- liquid
                  if cart == empty
                  render 'icon-cart'
                  else
                  render 'icon-cart'
                  endif
                  -%}
                  <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                  {%- if cart != empty -%}
                    <div class="cart-count-bubble">
                      {%- if cart.item_count < 100 -%} <span aria-hidden="true">{{ cart.item_count }}</span>
                        {%- endif -%}
                        <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                    </div>
                  {%- endif -%}
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="nav-m1__content-wrapper" id="showMobileMenu">
      <div class="container">
        <div class="row">
          <div class="col-12 d-flex justify-content-end">
            <button id="closeNav" style="padding: 1.4rem;">
              <span class="close-btn" style="font-size: 30px;">
                <i class="bi bi-x-circle"></i>
              </span>
            </button>
          </div>
        </div>
    
        <nav class="nav-m1__main-nav">
          <ul class="nav-m1__main-nav-list">
            {%- if section.settings.menu != blank -%}
              {%- for link in section.settings.mobile_menu.links -%}
                {%- if link.links != blank -%}
                <li class="nav-m1__main-nav-list-item d-down">
                  <button type="button" class="heder-m1__main-nav-link d-down-btn">
                    <p>{{ link.title }}</p><span class="arrow"><i class="bi bi-chevron-down"></i></span>
                  </button>
                  <nav class="drop-down">
                    <ul class="drop-down__list">
                      {% for childlink in link.links %}
                      <li class="drop-down__list-item"><a href="{{ childlink.url }}" class="drop-down__link">{{ childlink.title
                          | escape }}</a></li>
                      {% endfor %}
                    </ul>
                  </nav>
                </li>
                {%- else -%}
                <li class="nav-m1__main-nav-list-item">
                  <a href="{{ link.url }}" class="heder-m1__main-nav-link">{{ link.title }}</a>
                </li>
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
          </ul>
        </nav>
      </div>
    </div>
  </header>
  {%- if request.page_type != 'cart' -%}
    {%- render 'cart-notification' -%}
  {%- endif -%}

  <!-- *****======HEADER STYLE 3 ======****** -->
  {% when 'header3' %}

  {{ 'Header3.css' | asset_url | stylesheet_tag }}

  <link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
  
  <noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
  
  <script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

  {% assign opacity = section.settings.opacity | divided_by: 100.00 %}
  <header class="header header3" style="background-color: {{ section.settings.header_background_color | color_modify: 'alpha', opacity }};">
    <div class="header3__wrapper">
      <div class="container">
        <div class="row mx-auto">
          <div class="col-6 col-md-6 d-flex align-items-center justify-content-start">
            <div class="header3__nav-logo-center-wrapper">
              <a href="/">
                {%- if section.settings.logo != blank -%}
                {%- assign image_size = section.settings.logo_width | append: 'x' -%}
                <img
                  srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                  src="{{ section.settings.logo | img_url: image_size }}" loading="lazy" class="header__heading-logo"
                  width="{{ section.settings.logo.width }}" height="{{ section.settings.logo.height }}"
                  alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
                {%- else -%}
                <h1 class="header1__nav-logo">
                  {{ shop.name }}
                </h1>
                {%- endif -%}
              </a>
            </div>
          </div>
          <div class="col-6 col-md-6 d-flex align-items-center justify-content-end">
            <nav class="header3__nav-left">
              <ul class="header3__nav-left-list d-flex align-items-center justify-content-center">
                {%- if section.settings.menu != blank -%}
                  {%- for link in section.settings.menu.links -%}
                    {%- if settings.mega_title == link.title -%}
                      <li class="header3__nav-left-list-item header3__has-dropdown site-nav--is-megamenu">
                        <a href="" class="header3__nav-left-link header3__nav--link-has-dropdown">
                          {{ link.title | escape }} <span className="dropdown-icon"><i class="bi bi-chevron-down"></i></span>
                        </a>
                        <!-- Megamenu START -->
                        <div class="nav-dropdown text-left megamenu">
                          <div class="page-width">
                            <div class="container">
                              <div class="row">
                                
                                  {%- for block in section.blocks -%}
                                  <div class="col-sm-3 col-md-3 col-lg-3">
                                    <a href="#" class="megamenu__collection-img">
                                      {%- if block.settings.mega_menu_image != blank -%}
                                        <img
                                          srcset="{%- if block.settings.mega_menu_image.width >= 165 -%}{{ block.settings.mega_menu_image | img_url: '165x' }} 165w,{%- endif -%}
                                          {%- if block.settings.mega_menu_image.width >= 360 -%}{{ block.settings.mega_menu_image | img_url: 'master' }} 360w,{%- endif -%}
                                          {%- if block.settings.mega_menu_image.width >= 535 -%}{{ block.settings.mega_menu_image | img_url: 'master' }} 535w,{%- endif -%}
                                          {%- if block.settings.mega_menu_image.width >= 750 -%}{{ block.settings.mega_menu_image | img_url: 'master' }} 750w,{%- endif -%}
                                          {%- if block.settings.mega_menu_image.width >= 2000 -%}{{ block.settings.mega_menu_image | img_url: 'master' }} 2000w,{%- endif -%}
                                          {%- if block.settings.mega_menu_image.width >= 2040 -%}{{ block.settings.mega_menu_image | img_url: '2040x' }} 2040w,{%- endif -%}"
                                          src="{{ block.settings.mega_menu_image | img_url: 'master' }}"
                                          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                          alt="{{ section.settings.image.alt | escape }}" loading="lazy"
                                          width="{{ section.settings.image.width }}">
                                      {%- else -%}
                                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                      {%- endif -%}
                                    </a>
                                    <h5 class="megamenu__collection-heading py-3">
                                      <a href="#">{{ block.settings.mega_menu_column_heading }}</a>
                                    </h5>
                                    <ul class="megamenu__list text-left nav-dropdown__list">
                                      {%- for link in block.settings.mega_menu_links.links -%}
                                        <li class="nav-dropdown__list-item">
                                          <a href="{{ link.url }}" class="nav-dropdown__link">
                                            {{ link.title }}
                                          </a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  </div>
                                  {%- endfor -%}
                                
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Megamenu END -->
                      </li>
                    {%- elsif link.links != blank -%}
                      <li class="header3__nav-left-list-item header3__has-dropdown">
                        <a href="" class="header3__nav-left-link header3__nav--link-has-dropdown">
                          {{ link.title }} <span className="dropdown-icon"><i class="bi bi-chevron-down"></i></span>
                        </a>
                        <!-- Dropdown Menu START -->
                        <ul class="nav-dropdown text-left nav-dropdown__list">
                          {% for childlink in link.links %}
                            <li class="nav-dropdown__list-item">
                              <a href="{{ childlink.url }}" class="nav-dropdown__link">{{ childlink.title }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                        <!-- Dropdown Menu END -->
                      </li>
                    {%- else -%}
                      <li class="header3__nav-left-list-item">
                        <a href="{{ link.url }}" class="header3__nav-left-link">
                          {{ link.title | escape }}
                        </a>
                      </li>
                    {%- endif -%}
                  {%- endfor -%}
                {%- endif -%}
                <li class="header3__nav-right-list-item">
                  <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
                    <span class="nav-search"><i class="bi bi-search"></i></span>
                  </button>
                </li>
                <li class="header3__nav-right-list-item">
                  {%- if shop.customer_accounts_enabled -%}
                    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                      class="menu-drawer__account link link--text focus-inset" style="padding-bottom: 5px;">
                      {% render 'icon-account' %}
                      <span class="visually-hidden">
                        {%- liquid
                        if customer
                          echo 'customer.account_fallback' | t
                        else
                          echo 'customer.log_in' | t
                        endif
                        -%}
                      </span>
                    </a>
                  {%- endif -%}
                </li>
                <li class="header3__nav-right-list-item">
                  <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link link--text focus-inset"
                    id="cart-icon-bubble">
                    {%- liquid
                    if cart == empty
                    render 'icon-cart'
                    else
                    render 'icon-cart'
                    endif
                    -%}
                    <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                    {%- if cart != empty -%}
                    <div class="cart-count-bubble">
                      {%- if cart.item_count < 100 -%} <span aria-hidden="true">{{ cart.item_count }}</span>
                        {%- endif -%}
                        <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                    </div>
                    {%- endif -%}
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!-- MOBILE MENU -->
    <div class="header3__mobile-nav-wrapper">
      <nav class="nav nav1 nav-m1 position">
        <div class="container">
          <div class="row d-flex align-items-center justify-content-space-between mobile-content">
            <div class="col-3 col-sm-4">
              <div class="nav-m1__nav-left-wrapper d-flex justify-content-start text-end">
                <button id="openNav" type="button" class="nav-m1__mobile-menu-btn">
                  <i class="bi bi-list"></i>
                </button>
              </div>
            </div>
            <div class="col col-sm-4">
              <div class="nav-m1__logo-wrapper text-center my-auto">
                <a href="/">
                  {%- if section.settings.mobile_logo != blank -%}
                  {%- assign mobile_image_size = section.settings.mobile_logo_width | append: 'x' -%}
                  <img
                    srcset="{{ section.settings.mobile_logo | img_url: mobile_image_size }} 1x, {{ section.settings.mobile_logo | img_url: mobile_image_size, scale: 2 }} 2x"
                    src="{{ section.settings.mobile_logo | img_url: image_size }}" loading="lazy" class="nav-m1__logo-link"
                    width="{{ section.settings.mobile_logo.width }}"
                    alt="{{ section.settings.mobile_logo.alt | default: shop.name | escape }}">
                  {%- else -%}
                  <h1 class="nav-m1__logo">
                    {{ shop.name }}
                  </h1>
                  {%- endif -%}
                </a>
              </div>
            </div>
            <div class="col-3 col-sm-4">
              <div class="nav-m1__nav-right-wrapper d-flex align-items-center justify-content-evenly">
                <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"
                  style="padding-top: 3px; padding-right: 4px;">
                  <span class="header5__nav-right-search"><i class="bi bi-search"></i></span>
                </button>
                <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link link--text focus-inset"
                  style="padding-top: 4px;" id="cart-icon-bubble">
                  {%- liquid
                  if cart == empty
                  render 'icon-cart'
                  else
                  render 'icon-cart'
                  endif
                  -%}
                  <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                  {%- if cart != empty -%}
                  <div class="cart-count-bubble">
                    {%- if cart.item_count < 100 -%} <span aria-hidden="true">{{ cart.item_count }}</span>
                      {%- endif -%}
                      <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                  </div>
                  {%- endif -%}
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="nav-m1__content-wrapper" id="showMobileMenu">
      <div class="container">
        <div class="row">
          <div class="col-12 d-flex justify-content-end">
            <button id="closeNav" style="padding: 1.4rem;">
              <span class="close-btn" style="font-size: 30px;">
                <i class="bi bi-x-circle"></i>
              </span>
            </button>
          </div>
        </div>
    
        <nav class="nav-m1__main-nav">
          <ul class="nav-m1__main-nav-list">
            {%- if section.settings.menu != blank -%}
              {%- for link in section.settings.mobile_menu.links -%}
                {%- if link.links != blank -%}
                <li class="nav-m1__main-nav-list-item d-down">
                  <button type="button" class="heder-m1__main-nav-link d-down-btn">
                    <p>{{ link.title }}</p><span class="arrow"><i class="bi bi-chevron-down"></i></span>
                  </button>
                  <nav class="drop-down">
                    <ul class="drop-down__list">
                      {% for childlink in link.links %}
                      <li class="drop-down__list-item"><a href="{{ childlink.url }}" class="drop-down__link">{{ childlink.title
                          | escape }}</a></li>
                      {% endfor %}
                    </ul>
                  </nav>
                </li>
                {%- else -%}
                <li class="nav-m1__main-nav-list-item">
                  <a href="{{ link.url }}" class="heder-m1__main-nav-link">{{ link.title }}</a>
                </li>
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
          </ul>
        </nav>
      </div>
    </div>
  </header>
  {%- if request.page_type != 'cart' -%}
    {%- render 'cart-notification' -%}
  {%- endif -%}
  
  <!-- *****======HEADER STYLE 4 ======****** -->
  {% when 'header4' %}

  {{ 'Header4.css' | asset_url | stylesheet_tag }}
  
  <link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print"
    onload="this.media='all'">
  
  <noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
  
  <script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

  {% assign opacity = section.settings.opacity | divided_by: 100.00 %}
  <header class="header header4" style="background-color: {{ section.settings.header_background_color | color_modify: 'alpha', opacity }};">
    <div class="header4__wrapper">
      <div class="container">
        <div class="row">
          <div class="col col-sm-12 col-md-12 col-lg12">
            <div class="header4__nav-logo-center-wrapper d-flex align-items-center justify-content-center text-center mx-auto">
              <a href="/">
                {%- if section.settings.logo != blank -%}
                {%- assign image_size = section.settings.logo_width | append: 'x' -%}
                <img
                  srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                  src="{{ section.settings.logo | img_url: image_size }}" loading="lazy" class="header__heading-logo"
                  width="{{ section.settings.logo.width }}" height="{{ section.settings.logo.height }}"
                  alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
                {%- else -%}
                  <h1 class="header1__nav-logo">
                    {{ shop.name }}
                  </h1>
                {%- endif -%}
              </a>
            </div>
          </div>
          <div class="col col-sm-12 col-md-12 col-lg12">
            <div class="header4__nav-logo-center-wrapper">
              <ul class="header4__right-controls d-flex align-items-center justify-content-end">
                <li class="header4__nav-right-list-item">
                  <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
                    <span class="nav-search"><i class="bi bi-search"></i></span>
                  </button>
                </li>
                <li class="header4__nav-right-list-item">
                  {%- if shop.customer_accounts_enabled -%}
                    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                      class="menu-drawer__account link link--text focus-inset" style="padding-bottom: 5px;">
                      {% render 'icon-account' %}
                      <span class="visually-hidden">
                        {%- liquid
                        if customer
                        echo 'customer.account_fallback' | t
                        else
                        echo 'customer.log_in' | t
                        endif
                        -%}
                      </span>
                    </a>
                  {%- endif -%}
                </li>
                <li class="header4__nav-right-list-item">
                  <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link link--text focus-inset"
                    id="cart-icon-bubble">
                    {%- liquid
                    if cart == empty
                    render 'icon-cart'
                    else
                    render 'icon-cart'
                    endif
                    -%}
                    <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                    {%- if cart != empty -%}
                    <div class="cart-count-bubble">
                      {%- if cart.item_count < 100 -%} <span aria-hidden="true">{{ cart.item_count }}</span>
                        {%- endif -%}
                        <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                    </div>
                    {%- endif -%}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col col-sm-12 col-md12-col-lg-12">
            <nav class="header4__nav-left">
              <ul class="header4__nav-left-list d-flex align-items-center justify-content-center mx-auto">
                {%- if section.settings.menu != blank -%}
                  {%- for link in section.settings.menu.links -%}
                    {%- if settings.mega_title == link.title -%}
                      <li class="header4__nav-left-list-item header4__has-dropdown site-nav--is-megamenu">
                        <a href="" class="header4__nav-left-link header4__nav--link-has-dropdown">{{ link.title | escape }} <span class="dropdown-icon"><i class="bi bi-chevron-down"></i></span>
                        </a>
                        <!-- Megamenu START -->
                        <div class="nav-dropdown text-left megamenu">
                          <div class="page-width">
                            <div class="container">
                              <div class="row">
                                
                                  {%- for block in section.blocks -%}
                                  <div class="col-sm-3 col-md-3 col-lg-3">
                                    <a href="#" class="megamenu__collection-img">
                                      {%- if block.settings.mega_menu_image != blank -%}
                                        <img
                                          srcset="{%- if block.settings.mega_menu_image.width >= 165 -%}{{ block.settings.mega_menu_image | img_url: '165x' }} 165w,{%- endif -%}
                                          {%- if block.settings.mega_menu_image.width >= 360 -%}{{ block.settings.mega_menu_image | img_url: 'master' }} 360w,{%- endif -%}
                                          {%- if block.settings.mega_menu_image.width >= 535 -%}{{ block.settings.mega_menu_image | img_url: 'master' }} 535w,{%- endif -%}
                                          {%- if block.settings.mega_menu_image.width >= 750 -%}{{ block.settings.mega_menu_image | img_url: 'master' }} 750w,{%- endif -%}
                                          {%- if block.settings.mega_menu_image.width >= 2000 -%}{{ block.settings.mega_menu_image | img_url: 'master' }} 2000w,{%- endif -%}
                                          {%- if block.settings.mega_menu_image.width >= 2040 -%}{{ block.settings.mega_menu_image | img_url: '2040x' }} 2040w,{%- endif -%}"
                                          src="{{ block.settings.mega_menu_image | img_url: 'master' }}"
                                          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                          alt="{{ section.settings.image.alt | escape }}" loading="lazy"
                                          width="{{ section.settings.image.width }}">
                                      {%- else -%}
                                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                      {%- endif -%}
                                    </a>
                                    <h5 class="megamenu__collection-heading py-3">
                                      <a href="#">{{ block.settings.mega_menu_column_heading }}</a>
                                    </h5>
                                    <ul class="megamenu__list text-left nav-dropdown__list">
                                      {%- for link in block.settings.mega_menu_links.links -%}
                                        <li class="nav-dropdown__list-item">
                                          <a href="{{ link.url }}" class="nav-dropdown__link">
                                            {{ link.title }}
                                          </a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  </div>
                                  {%- endfor -%}
                                
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Megamenu END -->
                      </li>
                    {%- elsif link.links != blank -%}
                      <li class="header4__nav-left-list-item header4__has-dropdown">
                        <a href="" class="header4__nav-left-link header4__nav--link-has-dropdown">{{ link.title }} <span class="dropdown-icon"><i class="bi bi-chevron-down"></i></span>
                        </a>
                        <!-- Dropdown Menu START -->
                        <ul class="nav-dropdown text-left nav-dropdown__list">
                          {% for childlink in link.links %}
                          <li class="nav-dropdown__list-item">
                            <a href="{{ childlink.url }}" class="nav-dropdown__link">{{ childlink.title }}</a>
                          </li>
                          {% endfor %}
                        </ul>
                        <!-- Dropdown Menu END -->
                      </li>
                    {%- else -%}                 
                      <li class="header4__nav-left-list-item">
                        <a href="{{ link.url }}" class="header4__nav-left-link">
                          {{ link.title | escape }}
                        </a>
                      </li>
                    {%- endif -%}
                  {%- endfor -%}
                {%- endif -%}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!-- MOBILE MENU -->
    <div class="header4__mobile-nav-wrapper">
      <nav class="nav nav1 nav-m1 position">
        <div class="container">
          <div class="row d-flex align-items-center justify-content-space-between mobile-content">
            <div class="col-3 col-sm-4">
              <div class="nav-m1__nav-left-wrapper d-flex justify-content-start text-end">
                <button id="openNav" type="button" class="nav-m1__mobile-menu-btn">
                  <i class="bi bi-list"></i>
                </button>
              </div>
            </div>
            <div class="col col-sm-4">
              <div class="nav-m1__logo-wrapper text-center my-auto">
                <a href="/">
                  {%- if section.settings.mobile_logo != blank -%}
                  {%- assign mobile_image_size = section.settings.mobile_logo_width | append: 'x' -%}
                  <img
                    srcset="{{ section.settings.mobile_logo | img_url: mobile_image_size }} 1x, {{ section.settings.mobile_logo | img_url: mobile_image_size, scale: 2 }} 2x"
                    src="{{ section.settings.mobile_logo | img_url: image_size }}" loading="lazy" class="nav-m1__logo-link"
                    width="{{ section.settings.mobile_logo.width }}"
                    alt="{{ section.settings.mobile_logo.alt | default: shop.name | escape }}">
                  {%- else -%}
                  <h1 class="nav-m1__logo">
                    {{ shop.name }}
                  </h1>
                  {%- endif -%}
                </a>
              </div>
            </div>
            <div class="col-3 col-sm-4">
              <div class="nav-m1__nav-right-wrapper d-flex align-items-center justify-content-evenly">
                <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"
                  style="padding-top: 3px; padding-right: 4px;">
                  <span class="header5__nav-right-search"><i class="bi bi-search"></i></span>
                </button>
                <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link link--text focus-inset"
                  style="padding-top: 4px;" id="cart-icon-bubble">
                  {%- liquid
                  if cart == empty
                  render 'icon-cart'
                  else
                  render 'icon-cart'
                  endif
                  -%}
                  <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                  {%- if cart != empty -%}
                  <div class="cart-count-bubble">
                    {%- if cart.item_count < 100 -%} <span aria-hidden="true">{{ cart.item_count }}</span>
                      {%- endif -%}
                      <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                  </div>
                  {%- endif -%}
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="nav-m1__content-wrapper" id="showMobileMenu">
      <div class="container">
        <div class="row">
          <div class="col-12 d-flex justify-content-end">
            <button id="closeNav" style="padding: 1.4rem;">
              <span class="close-btn" style="font-size: 30px;">
                <i class="bi bi-x-circle"></i>
              </span>
            </button>
          </div>
        </div>
    
        <nav class="nav-m1__main-nav">
          <ul class="nav-m1__main-nav-list">
            {%- if section.settings.menu != blank -%}
              {%- for link in section.settings.mobile_menu.links -%}
                {%- if link.links != blank -%}
                <li class="nav-m1__main-nav-list-item d-down">
                  <button type="button" class="heder-m1__main-nav-link d-down-btn">
                    <p>{{ link.title }}</p><span class="arrow"><i class="bi bi-chevron-down"></i></span>
                  </button>
                  <nav class="drop-down">
                    <ul class="drop-down__list">
                      {% for childlink in link.links %}
                      <li class="drop-down__list-item"><a href="{{ childlink.url }}" class="drop-down__link">{{ childlink.title
                          | escape }}</a></li>
                      {% endfor %}
                    </ul>
                  </nav>
                </li>
                {%- else -%}
                <li class="nav-m1__main-nav-list-item">
                  <a href="{{ link.url }}" class="heder-m1__main-nav-link">{{ link.title }}</a>
                </li>
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
          </ul>
        </nav>
      </div>
    </div>
  </header>
  {%- if request.page_type != 'cart' -%}
    {%- render 'cart-notification' -%}
  {%- endif -%}

{% endcase %}

{% javascript %}

  const openNav = document.getElementById('openNav');
  const showMobileMenu = document.getElementById('showMobileMenu');
  const closeBtn = document.getElementById('closeNav');
  const bodyScroll = document.querySelector('body');

  openNav.addEventListener('click', () => {
    showMobileMenu.classList.add('show-mobile-menu');
    bodyScroll.classList.add('scroll-y');
  });
  
  closeBtn.addEventListener('click', () => {
    showMobileMenu.classList.remove('show-mobile-menu');
    bodyScroll.classList.remove('scroll-y');
  });

{% endjavascript %}

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
    "type": "select",
    "id": "header_type",
    "label": "Select your header style",
    "options": [
      {
        "value": "header1",
        "label": "Header style 1"
      },
      {
        "value": "header2",
        "label": "Header style 2"
      },
      {
        "value": "header3",
        "label": "Header style 3"
      },
      {
        "value": "header4",
        "label": "Header style 4"
      }
    ],
    "default": "header1"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "color",
      "id": "header_background_color",
      "label": "Header background color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Opacity",
      "default": 100
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "link_list",
      "id": "menu_2",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "link_list",
      "id": "mobile_menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "image_picker",
      "id": "mobile_logo",
      "label": "Mobile Logo"
    },
    {
      "type": "range",
      "id": "mobile_logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": "Mega menu column",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "mega_menu_image",
          "label": "Mega menu column image"

        },
        {
          "type": "url",
          "id": "mega_menu_img_link",
          "label": "Image link"
        },
        {
          "type": "text",
          "id": "mega_menu_column_heading",
          "label": "Mega menu column heading",
          "default": "Heading"
        },
        {
        "type": "url",
        "id": "mega_menu_heading_link",
        "label": "Heading link"
        },
        {
          "type": "link_list",
          "id": "mega_menu_links",
          "default": "main-menu",
          "label": "Mega menu"
        }
      ]
    }
  ]
}
{% endschema %}
