{{ 'newsletter.css' | asset_url | stylesheet_tag }}

<section class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="newsletter__container">
          <div class="newsletter__wrapper">
            <div class="newsletter__content">
              {% form 'customer', class: 'newsletter__form text-center' %}
                <input type="hidden" name="contact[tags]" value="newsletter">
                {% if section.settings.newsletter_heading != blank %}
                  <h1 class="newsletter__signup--title">{{ section.settings.newsletter_heading | escape }}</h1>
                {% endif %}

                {% if section.settings.newsletter_text != blank %}
                  <label class="newsletter__signup--subtitle">{{ section.settings.newsletter_text | escape }}</label>
                {% endif %}

                <div class="input-wrapper d-flex align-items-center mx-auto {% if form.errors %} input-group--error{% endif %}">
                  <input  
                  type="email"
                  name="contact[email]" 
                  class="newsletter__input"
                  value="{{ form.email }}"
                  aria-required="true"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  {% if form.errors %}
                    autofocus
                    aria-invalid="true"
                    aria-describedby="Newsletter-error--{{ section.id }}"
                  {% elsif form.posted_successfully? %}
                    aria-describedby="Newsletter-success--{{ section.id }}"
                  {% endif %}
                    placeholder="email address"
                    required
                  >
                  <input type="submit" class="newsletter__button" value="enter" name="commit">
                </div>

              {% endform %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Newsletter",
  "settings": [
    {
      "type": "text",
      "id": "newsletter_heading",
      "label": "Newsletter heading",
      "default": "Keep in touch with us!"
    },
    {
      "type": "textarea",
      "id": "newsletter_text",
      "label": "Newsletter text",
      "default": "stay in the loop with special offers, awesome deals and exclusive perks 😊"
    }
  ],
  "presets": [
    {
      "name": "Newsletter"
    }
  ]
}
{% endschema %}